<p id="notice"><%= notice %></p>
<small><% if @user == current_user %> <%= link_to 'Destroy user', @user, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></small>

<p>
  <b><%= @user.username %></b> has made <%= pluralize(@ratings.count, 'rating') %>

<% if @ratings.count != 0 %> (average rating: <%= @user.average_rating %>) <% end %>

</p>

<p>
  <strong>Club memberships</strong>
  <ul>
    <% @user.beer_clubs.each do |c| %>
      <li><%= c %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Beer ratings</strong>
  <ul>
    <% @ratings.each do |r| %>
    <li><%= r.to_s %> <%= link_to 'delete', rating_path(r.id), method: :delete, data: { confirm: "Are you sure you want to delete rating #{r.to_s}?"}%> </li>
    <% end %>
  </ul>
</p>
<% if @user == current_user %><%= link_to 'Edit', edit_user_path(@user) %> |<% end %>
<%= link_to 'Back', users_path %>
